
.accordion {
 width: 100%;
 border-bottom: solid 1px #c4c4c4;
}
.accordion h3 {
 background: #e9e7e7 url(../img/arrow-square.gif) no-repeat right -51px;
 padding: 7px 15px;
 margin: 0;
 font-size:12px;
 font: Arial, Helvetica, sans-serif;
 border: solid 1px #c4c4c4;
 border-bottom: none;
 cursor: pointer;
}
.accordion h3:hover {
 background-color: #e3e2e2;
}
.accordion h3.active {
 background-position: right 5px;
}
.accordion p {
 background: #f7f7f7;
 margin: 0;
 padding: 10px 15px 20px;
 border-left: solid 1px #c4c4c4;
 border-right: solid 1px #c4c4c4;
 border-top: solid 1px #c4c4c4;
 height:13px;
 font-size:12px;
 font: Arial, Helvetica, sans-serif;
}

.accordion p:hover{
 background: silver;
}

.accordion p a {
 font-size:12px;
 font: Arial, Helvetica, sans-serif;
 color:black;
 text-decoration:none;
}